body, html{
    background-image: url(../images/disney-castle.jpeg);
    background-size: cover;
    min-height: 100%;
}

.container{
    background: rgb(255, 255, 255, 0.7);;
    color: black;
}

.display-3 {
    font-family: 'Pacifico', cursive;
    color: white;
}

#startBtn{
    font-size: 2rem;
    padding-left: 80px;
    padding-right: 80px;
}

#triviaArea {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    height: 600px;
}

#answerChoices .btn{
    font-size: 1.5rem;
}

img {
    margin-top: 25px;
}

#timeText {
    font-size: 2rem;
}

#question {
    font-size: 2.2rem;
}

#displayText {
    font-size: 2rem;
}

#startOverBtn {
    font-size: 2rem;
    padding-left: 50px;
    padding-right: 50px;
}